.navigation-wrapper {
	// margin: 22px;

	.swim-coach-title {
		margin-left: 22px;
	}

	h1 {
		color: $black;
	}

	.logo-img-wrapper {
		display: flex;
		margin-left: 40px !important;
		height: 50px !important;
	}
}

.nav-wrapper {
	display: flex;
	justify-content: space-around;
	justify-content: flex-end;
	padding: 20px;

	.left-side {
		display: flex;
	}

	.right-side {
		color: $black;
		font-weight: 600;

		a {
			margin-left: 15px;
			color: #ff6a13;
			cursor: pointer;
			transition: 0.5s ease-in-out;

			&:hover {
				color: red;
			}
		}
	}

	.nav-link-wrapper {
		height: 22px;
		font-weight: 600;
		letter-spacing: 1px;
		border-bottom: 1px solid transparent;
		transition: 0.5s ease-in-out;
		margin-right: 30px;
		text-transform: none;
		font-size: 1rem;

		a {
			color: $black;
			text-decoration: none;

			&:hover {
				color: #ff6a13;
			}
		}

		&:hover {
			border-bottom: 1px solid $black;
		}

		.nav-link-active {
			color: #ff6a13;
		}
	}
}
